#container{
    width: 465px;
    height: 450px;
    position: absolute;
    display: flex;
    flex-flow: column wrap;
}
#container2{
    width: 465px;
    height: 450px;
    position: absolute;
    display: flex;
}
#pionContainer{
    width: 465px;
    height: 450px;
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    line-height: 50px;
    text-align: center;
    top: 57px;
    left: 110px;
    z-index: 1;
}
#pionContainer2{
    width: 465px;
    height: 450px;
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    line-height: 50px;
    text-align: center;
    top: 57px;
    left: 370px;
    z-index: 1;
}
#blacks{
    width: 465px;
    height: 450px;
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    line-height: 50px;
    text-align: center;
    top: 57px;
    left: 60px;
    z-index: 1;
}
#whites{
    width: 465px;
    height: 450px;
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    line-height: 50px;
    text-align: center;
    top: 57px;
    left: 420px;
    z-index: 1;
}
.board{
    display: flex;
    flex-flow: column wrap;
    position: relative;
    top: 50px;
    left: 50px;
}
.column{
    width: 50px;
    height: 50px;
    position: relative;
    top: 50px;
    line-height: 50px;
    text-align: center;
}
.row{
    width: 52px;
    height: 50px;
    position: relative;
    left: 50px;
    line-height: 50px;
    text-align: center;
}
div{
    height: 50px;
    width: 50px;
}
.black{
    background-color: rgb(67, 67, 67);
    border: 1px solid;
    line-height: 50px;
    text-align: center;
}
.white{
    background-color: white;
    border: 1px solid;
    line-height: 50px;
    text-align: center;
}

